body{
    font-family:sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
}

.alert-center{
    text-align: center;
    display: none;
    position: absolute;
    width: 100%;
}

.title{
    text-align: center;
    font-size: 28px;
    width: 380px;
    font-weight: bold;
    border-radius: 100px;
    position: absolute;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #FFF9B0;
}
/* 
footer{
    text-align: center;
    font-size: 3vmax;
    letter-spacing: 3px;
    font-family: Copperplate, Papyrus, fantasy;
    width: 100%;
    font-weight: bold;
    color: #FFF600;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
} */

h4{
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 24px;
    width: 70vw;
    position:absolute;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.budget{
    color: #03C4A1;
}

.form{
    color:#FFD700;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 80vw;
    height:40vh;
    display: block;
    position:absolute;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

form input[type="text"], form input[type="number"] {
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    width: 260px;
    height: 30px;
}

form input[type="number"]:focus-visible{
    outline-style: solid;
    outline-color:#FF9292;
    outline-width: 3px;
}

form input[type="text"]:focus-visible{
    outline-style: solid;
    outline-color:#FF9292;
    outline-width: 3px;
}


form input[type="submit"] {
    width: 200px;
    margin-top: 3vmax;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 0.3em;
    border: 3px solid #84DFFF;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color:  #F25287;
    text-decoration: none;
    transition: 0.3s ease all;
}

form input[type="submit"]:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
}


form input[type="submit"]:hover:before, form input[type="submit"]:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

form input[type="submit"]:active {
    transform: scale(1.5);
}

.images-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 80vh;
}

.img-end{
    transition: 0.5s all ease;
}

.img-end:active{
    transform: scale(2);
}

.separator-img{
    background-color: #F25287;
    width:20px;
}

.background-image-container{
    background: linear-gradient(rgba(5, 7, 12, 0.60), 
    rgba(5, 7, 12, 0.60)), url("/static/img/food.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-position: center center;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

/* Hiding element (image) when the screen higth is from 0px to 600px  */
@media (max-height: 600px){
    .images-container{
        display: none;
    }

}

@media (min-width: 1536px){
    .form{
        height:45vh;
    }
}